.add-form-page
    {
        background-color: rgb(32, 32, 32);
        width: 100%;
        padding:10px;
    }

.add-form-page h1
    {
        color:white;
    }


.add-form-container
    {
        /* width:50vw; */
        border:3px solid rgb(194, 194, 194);
        padding:30px;
    }

::placeholder
    {
        font-style: italic;
        font-family:'Poppins Regular';
    }

label
    {
        color:white;
    }