.book-card-grid
    {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(4,300px);
    }

.title
    {
        font-size:50px ;
        text-align: center;
        /* background: rgb(215, 215, 215); */
        font-weight: bolder;
        margin-bottom:50px;
        z-index: 100;
    }



