.admin-main {
    display: flex;
}

.sidebar {
    width: 275px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #2b3035;
}

.sidebar a {
    text-decoration: none;
}

.sidebar li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
    transition: 0.1s ease-in-out;

}

.sidebar li:hover {
    background-color: #4a4e52;
}


.profile_info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 75px;
}

.profile_picture {
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 5px black;
    flex-shrink: 0;
}

.profile_picture img {
    width: 60px;
    height: auto;
}

.profile_user {
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: white;

}


.sidebar ion-icon {
    font-size: 25px;
}

.userdesignation {
    font-style: italic;
    font-family: 'Poppins Regular';
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.username {
    text-wrap: nowrap;
}

.section-title {
    text-align: center;
    background-color: #858585
}

.badge
    {
        font-size:15px;
    }
