.books-card-holder
    {
        display: grid;
        grid-template-columns: repeat(4,300px);
        /* background-color: blue; */
        justify-content: space-around;
    }

.search-container{
    width: 40%;
    /* background-color: aqua; */
    text-align: center;
    margin-top:10%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex:1;
    color:white;

}

.books-section
    {
        background-image: url('../../Assets/library.png');
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size:cover;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }


.search-container
    {
        z-index: 1;
    }
