.account-container
    {
        display: flex;
        flex-direction: row-reverse;
        height:100vh;
    }

.account-img-container img
    {
        width:75%;
        position: fixed;
        top:-10px;
        left:0;
    }

.account-actions-contianer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(32, 32, 32);
        width:25%;
        color:white;
        height:100vh;
    }


.account-actions-contianer h1
    {
        font-size:30px;
        margin-bottom:50px;
    }

.account-actions-contianer input
    {
        width:100%;
        height:30px;
        border:none;
        outline:none;
        background-color: transparent;
        border-bottom: 3px solid white;
        color:white;
        font-size:18px;
        transition: 0.25s ease-in-out;
    }

.input-field
    {
        margin:10px;
        width:80%;
        height:70px;
        position: relative;
    }

.input-field ion-icon
    {
        position: absolute;
        right:0;
        top:20px;
        font-size:25px;
    }

.account-actions-contianer button
    {
        width:50%;
        height:35px;
        border-radius:12px;
        border:none;
        background-color: transparent;
        border:1px solid BurlyWood;
        color:BurlyWood;
        font-weight: bolder;
        cursor: pointer;
        transition: 0.25s ease-in-out;
    }

.account-actions-contianer button:hover
    {
        width:50%;
        height:35px;
        border-radius:12px;
        border:none;
        background-color: BurlyWood;
        border:1px solid BurlyWood;
        color:black;
        cursor: pointer;
    }

.account-actions-contianer button:focus
    {
        width:50%;
        height:35px;
        border-radius:12px;
        border:none;
        background-color: rgb(178, 123, 51);
        border:1px solid rgb(178, 123, 51);
        color:white;
        cursor: pointer;
    }

    

.account-actions-contianer input:hover, .account-actions-contianer input:focus
    {
        border-bottom: 3px solid burlywood;
        color:burlywood;
    }

.line
    {
        margin:30px;
        width:80%;
        background-color: rgb(138, 138, 138);
        height:2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.line span
    {
        background-color: rgb(32, 32, 32);
        padding:0px 15px;
    }
