.background
    {
        background-image:url('../assets/images/site_images/home.png');
        /* height:90vh; */
        background-size:cover;
        background-attachment: fixed;
    }


.search-contaianer
    {
        height:90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.search-contaianer h1, .search-contaianer h4
    {
        color:white;
    }

.search-contaianer h4
    {
        font-family:'Poppins Italic';
        font-size:18px;
    }

.cards
    {
        display: flex;
        flex-direction: row;
        gap:20px;
    }

.cards
    {
        flex-shrink:0;
    }

