.navbar-container{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    padding: 1rem 0;
}

.logo{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.nav-links{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding-right: 20px;
}

