.admin-panel {
    display: flex;
    position: fixed;
    width: 100%;
    height: 95%;
    left:0;
}

.admin-action-container {
    display: flex;
    width:100%;
    height: 100%;

    flex-direction: column;

    overflow-y: scroll;
    /* scrollbar-width: none; */
}