*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: BurlyWood;
    --primary-color-bright: DarkKhaki;
    --white-color: white;

}

h1{
    font-size: 50px;
    
}

.container{
    width: 90%;
    margin: auto;
}

.flex{ display: flex;}

.justify-center{ justify-content: center; }

.justify-between{ justify-content: space-between; }

.algin-center{ align-items: center; }

.text-primary{ color: var(--primary-color); }

