.sidebar
    {
        width:15vw;
        background-color:royalblue;
        height:90vh;
    }

.sidebar a
    {
        color:white;
        text-decoration: none;
    }

.sidebar li
    {
        list-style:none;
        padding:10px;
        background-color:aqua;
    }
